/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* RESPONSIVE CSS */
/*///////////////////////////////////////////////////////////////////////////////////////////*/





@media (min-width:992px) and (max-width:10000px) {
  .logo {
    display: none;
  }
}



@media (max-width:1440px) {
    
 html .b-welcome {
    background: url(../media/content/b-welcome/bg-1.jpg) 150% 50% no-repeat;
}
    
    html .b-bnr-3__title {
    max-width: 535px;
    text-align: center;
    display: inline-block;
}
    
}


@media (min-width:1440px) and (max-width:1800px) {
  .b-dealers-info__inner {
    width: 970px;
  }
    
   
    
}

@media (max-width:1600px) {
  .b-steps-list {
    margin-left: 0;
    margin-right: 0;
  }
  .section-brands__inner {
    margin-left: 0;
    margin-right: 0;
  }

.main-slider__wrap {
  display: inline-block;
  height: 700px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 28vw;
  padding: 80px 100px;
  font-family: Montserrat;
  color: #fff;
  
}

}

/* end 1441px */
@media (min-width:1441px) {
  .parallax {background-size: 100;}
}
/* end 1441px */


@media (min-width:992px) and (max-width:1600px) {
  .b-steps-list__item:not(:last-child):after {
    width: 120px;
    left: calc(100% - 60px);
  }
}
/* end 992px-1600px */

@media (min-width:1440px) and (max-width:1600px) {
  .main-slider__wrap {
  display: inline-block;
  height: 700px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  padding: 220px 0px;
  font-family: Montserrat;
  color: #fff;
}
  .b-dealers-map {
    width: 650px;
  }
}
@media (min-width:1200px) and (max-width:1439px) {
  .main-slider__wrap {
  display: inline-block;
  height: 700px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  padding: 220px 0px;
  font-family: Montserrat;
  color: #fff;
  
}
  .b-dealers-map {
    width: 420px;
  }
  .b-dealers-info__inner {
    width: 830px;
  }
}


@media (min-width:992px) and (max-width:1199px) {
  .b-goods-f:not(.b-goods-f_row) .b-goods-f__list-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .b-goods-f:not(.b-goods-f_row) .b-goods-f__title {
    font-size: 16px;
  }
  .b-steps-list__number {
    font-size: 80px;
  }
  .b-steps-list__item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .b-steps-list__title {
    font-size: 16px;
  }
  .b-steps-list__item:not(:last-child):after {
    top: 40px;
  }
  .b-goods-f_row .b-goods-f__media {
    width: 170px;
  }
  .b-filter__item + .b-filter__item {
    margin-top: 15px;
  }
  .b-filter .btn:not(.ui-select) {
    padding-left: 5px;
    padding-right: 5px;
  }
  .widget-title .ic {
    display: none;
  }
  .widget-title {
    padding-right: 10px;
  }
  .post-widget__media {
    float: none;
  }
  .post-widget__inner {
    padding-left: 0;
    margin-top: 10px;
  }
}
/* end 992px-1199px */



@media (max-width:1199px) {
  .header-main .navbar-brand {
    top: 6px;
  }
  .l-theme {
    
  }
  .b-dealers-info-map {
    margin-top: 0;
    margin-bottom: 70px;
  }
  .b-dealers-info__inner {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .b-dealers-info__main {
    max-height: 100%;
  }
  .b-dealers-info__media {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .b-dealers-info__desrip {
    margin-top: 30px;
  }
  .b-dealers-map {
    width: 100%;
  }
  .b-bnr-3 {
    background-image: none;
  }
  .b-welcome,
  .section-about {
    background: none !important;
  }
 /* .b-goods-f:not(.b-goods-f_row) {
    max-width: 374px;*/
  }
  .b-bnr__second {
    margin-top: 30px;
  }
  .section-carousel__inner {
    text-align: center;
  }
  .b-goods-vip {
    padding: 0 35px 30px;
  }
  .b-goods-vip__title {
    font-size: 30px;
  }
  .b-goods-vip__label-2 {
    font-size: 16px;
    margin-left: -35px;
  }

  .main-slider__wrap {
  display: inline-block;
  height: 700px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0vw;
  padding: 220px 0px;
  font-family: Montserrat;
  color: #fff;
  
}
}
/* end 1199px */


@media (max-width:991px) {
  .l-sidebar_last {
    margin-top: 70px;
  }
  .section-about {
    padding-bottom: 70px;
  }
  .b-goods-f:not(.b-goods-f_row) {
    margin: 0 auto 30px;
  }
  .b-title-page__wrap {
    width: auto;
  }
  .btns-switch,
  .b-filter-goods_sm .btns-switch {
    display: none;
  }
  .footer-section_subscribe {
    padding-right: 0;
  }
  .footer-list {
    margin-bottom: 30px;
  }
  .section-goods-vip {
    display: block;
  }
  .b-goods-vip {
    margin: 0 auto 20px;
    width: 100%;
  }
  .b-find__main {
    padding-right: 0;
  }
  .b-find__btn {
    position: relative;
    margin-bottom: 20px;
  }
  .b-services-nav {
    margin-bottom: 50px;
  }
  .b-steps-list__item:not(:last-child):after {
    display: none;
  }
  .b-steps-list__item {
    margin-bottom: 40px;
  }
  .section-reviews-2 {
    padding-top: 100px;
  }
  .b-contacts {
    margin-bottom: 20px;
  }

  .b-goods-group.row.feature-toggle-top  {

  display: none;
}
}
/* end 991px */



@media (max-width:991px) and (min-width:768px) {

  .mb-nav {
 
      margin-bottom: 20px;
}

  .main-slider__title {
    font-size: 50px;
  }
  .main-slider__title_lg {
    font-size: 55px;
  }
  .b-progress-list__name {
    font-size: 13px;
  }
  .b-progress-list__percent {
    font-size: 26px;
  }
}
/* end 991px-768px */



@media (max-width:767px) {

  .banner {
  display: none;
 }


.nav-margin-b {
 
      margin-bottom: 15px;
}

    
    html .demopage-logo {
    width: 100% !important;
}
    
    html .l-main-content {
    padding-top: 50px;
    padding-bottom: 50px;
}
    
    
    html .b-services-nav {
    margin-right: 0;
}
    
  /*html .menu-mobile-button {
    top: -6px;
   }
*/
  .b-team {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-contacts {
    padding-right: 50px;
  }
  .b-dealers-nav {
    display: block;
  }
  .b-dealers__title {
    display: block;
  }
  .b-dealers__contacts {
    margin-bottom: 10px;
  }
  .b-dealers__brand {
    margin-bottom: 20px;
  }
  .b-dealers-rating {
    margin-left: 0;
  }
  .section-dealers__main {
    padding-left: 10px;
    padding-right: 10px;
  }
  .comments-list .comment-datetime {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
  }
  .comments-list .comment-body {
    padding-right: 0;
  }
  .comments-list .children .comment {
    padding-left: 40px;
  }
  .section-reply-form .form-reply {
    padding-right: 0;
  }
  .b-post-full .entry-date {
    left: 0;
  }
  .b-post-group,
  .b-post-full-wrap {
    padding-right: 0;
  }
  .b-post-full .entry-blockquote {
    padding-left: 54px;
    padding-right: 0;
  }
  .b-post-full .entry-date__number {
    font-size: 20px;
  }
  .b-post-full .entry-content {
    padding-right: 0;
  }
  .b-post-full .entry-media__info {
    font-size: 13px;
  }
  .b-brands-2__item {
    margin-bottom: 10px;
  }
  .b-progress-list_mod-a {
    margin-bottom: 20px;
  }
  .b-filter__item + .b-filter__item {
    margin-top: 15px;
  }
  .b-title-page__wrap {
    margin-left: 0;
    padding-left: 20px;
  }
  .b-filter-goods__info {
    margin-top: 5px;
    display: block;
  }
  .footer-contacts {
    margin-bottom: 30px;
  }
  .footer-section_link {
    margin-left: 0;
  }
  .footer__btn-up {
        bottom: 0px;
    right: 0px;
  }
  .b-post-1 .entry-content {
    margin-bottom: 0;
  }
  .b-post-1 {
    margin-bottom: 30px;
  }
  .b-post-1 .entry-media {
    margin-bottom: 18px;
  }
  .b-bnr-2__figure {
    display: none;
  }
  .b-bnr-2__section {
    margin-bottom: 20px;
    padding: 54px 20px 55px;
  }
  .b-isotope-filter > li > a {
    margin-bottom: 5px;
  }
  .b-progress-list__item {
    border-bottom: 1px solid #fff;
  }
  .b-bnr__second {
    text-align: center;
  }
  .b-bnr .btn {
    margin-bottom: 20px;
  }
  .section-carousel .slick-next {
    right: 10px;
  }
  .section-carousel .slick-prev {
    right: 60px;
  }
  .b-services-nav__info {
    display: inline-block;
    margin-left: 10px;
  }
  .b-services-nav__link {
    padding: 10px;
  }
  .main-slider__wrap,
  .main-slider__slide-2 .main-slider__wrap {
    clip-path: none;
    padding: 130px 10px 0;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .main-slider__title,
  .main-slider__slide-2 .main-slider__title {
    font-size: 30px;
  }
  .main-slider__title_lg {
    font-size: 25px;
    display: inline-block;
    padding-left: 5px;
  }
  .main-slider__price {
    font-size: 30px;
  }
  .main-slider__price_up,
  .main-slider__price_down {
    font-size: 20px;
  }
  .main-slider__link {
    font-size: 14px;
    display: none;
  }
  .main-slider__link:before {
    width: 70px;
    height: 3px;
  }
  .main-slider__slogan {
    font-size: 14px;
  }
  .main-slider__slide,
  .sp-mask,
  .sp-image-container,
  .main-slider__wrap {
    height: 400px !important;
  }
  .b-find {
    margin-top: -40px;
  }
  /*.b-find-nav__item {
    width: 100%;
    border-bottom: 1px solid #fff;
  }
    */
    .b-find-content {
    margin-top: 2px;
   }
    
  .b-find__inner {
    display: block;
  }
  .b-find__item {
    width: 100%;
    margin-bottom: 20px;
  }
  .b-welcome-list__item {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-right: none;
    border-bottom: 1px solid #eee;
  }
  .b-welcome-list__item .ic {
    margin-bottom: 10px;
  }
  .b-welcome-list__item:not(:last-child) {
    border-right: none;
  }
  .section-carousel .slick-prev, .section-carousel .slick-next {
    top: -20px;
    display: none !important;
  }
  .b-goods-f_mod-a .b-goods-f__list-item .ic {
    display: none;
  }
    
     html .b-title-page__wrap {
    margin-left: 20px;
    padding-left: 50px;
}
    
}
/* end 767px */


@media (max-width:468px) {

    .otp input {
    width: 35px;
    margin-right: 5px;
    margin-left: 5px;

}

    

    .normal-logo {
      width: 120px;
    }

  /*.row {
      display: flex;
      flex-wrap: wrap;
      margin-right: 0px;
      margin-left: 0px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
   */
    
    html .b-title-page {
      font-size: 20px;
      line-height: 1.4;
}
    
    html .breadcrumb {
    padding: 0.75rem 0;
}
    
    .main-slider__figure-1.img-fluid{
        display: none !important;
    }
    
    html .b-services-nav__item {
    text-align: left;
    flex: 0 0 100%;
    max-width: 100%;
}
    

.b-services-nav__number {
    display: none;
}
    

   
}

@media (max-width: 468px) {

  .nav {
    display: none;
  }
  
}



@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}


@media (max-width: 576px) {

.b-find__form {
  padding: 80px 40px 50px 40px;

}

.b-find__offer {
  padding: 20px 40px 20px 40px;

}

    .wrap-login100 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 580px) {
    .navLogin {
        overflow: auto;
    }
 
}

@media (max-width: 768px) {

.ad img {


  margin-bottom: 10px; } }


@media (max-width: 576px) {

.ad img {

  width: 80%;
  float: center;  
  height: auto;
  margin-bottom: 10px;
  margin-left: 10px;
 

}  

.ad {
  padding-left: 40px;
}

}

@media (max-width: 576px) {
   .b-bnr__title {
    text-align: center;
    padding-bottom: 15px;
   }

  .ui-title-ad {
  text-align: center;
}
 
 .ui-title {
  text-align: center;
 }

 .section-carousel__btn {
  margin-left: 60px; 
  float: left;
 }

}

@media (max-width: 400px) {
   .b-bnr__title {
    text-align: center;
   }

  .ui-title-ad {
  text-align: center;
}
 
 .ui-title {
  text-align: center;
 }

 .section-carousel__btn {
  margin-left: 45px; 
  float: left;
 }

}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}


@media (max-width:768px) {


  .control-label {
    float: left;
  }
  
}


@media (max-width: 767px) {
 .widget-search .form-sidebar-adv__btn {

  right: 15px;
 }
  
};


@media (max-width: 767px) {
 .widget-search .form-sidebar-adv__btn {

  right: 15px;
 }
  
};


@media (max-width: 766px) {

 .banner {
  display: none;
 }

}

@media (min-width: 767px) {

.b-goods-group.row.feature-toggle  {

  display: none;
}

}



@media (max-width:991px) {
  .l-sidebar_last {
    margin-top: 70px;
  }
  .section-about {
    padding-bottom: 70px;
  }
  .b-goods-f:not(.b-goods-f_row) {
    margin: 0 auto 30px;

  }
  .b-title-page__wrap {
    width: auto;
  }
  .btns-switch,
  .b-filter-goods_sm .btns-switch {
    display: none;
  }
  .footer-section_subscribe {
    padding-right: 0;
  }
  .footer-list {
    margin-bottom: 30px;
  }
  .section-goods-vip {
    display: block;
  }
  .b-goods-vip {
    margin: 0 auto 20px;
    width: 100%;
  }
  .b-find__main {
    padding-right: 0;
  }
  .b-find__btn {
    position: relative;
    margin-bottom: 20px;
  }
  .b-services-nav {
    margin-bottom: 50px;
  }
  .b-steps-list__item:not(:last-child):after {
    display: none;
  }
  .b-steps-list__item {
    margin-bottom: 40px;
  }
  .section-reviews-2 {
    padding-top: 100px;
  }
  .b-contacts {
    margin-bottom: 20px;
  }

  .b-goods-group.row.feature-toggle-top  {

  display: none;
}
}
/* end 991px */


@media (max-width: 1920px) {


    .b-goods-f__price:not(.d-flex) {
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    background-color: #ff5500;
}
    
    .b-goods-f:not(.b-goods-f_row) {
    padding-top: 1.5rem;
    
  }


}

@media (max-width: 500px) {

  
  .advertise-advance {

    display: none;
  }

}


@media (min-width: 501px) {

  .advertise-bottom {
    display: none;
  }
}


@media (max-width: 991px) {

  .nav {
    display: none;
  }
}





@media (min-width: 1200px) and (max-width: 1440px) {


.yamm li a {
    color: white;
    font-family: Montserrat;
    font-size: 0.9em;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
}



}



/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* Galaxy Tab E (800px)*/
/* iPad Mini / iPad / (768px) */
/*///////////////////////////////////////////////////////////////////////////////////////////*/

/* Homepage */

@media screen and (min-width: 700px) and (max-width: 991px) {

  #nav-main {
    display: none;
  }

.normal-logo {
  transform: translateY(0px);
}

.header.navbar-scrolling  {
padding-top: 5px;
}



.header.navbar-scrolling .header-main .navbar-brand {
    top: 0;
    padding-top: 15px;
}


/*html .menu-mobile-button {
    top: -11px;
    right: 32px;
    display: block !important;
}*/

.b-find__inner.responsive-800  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.b-find__btn {
    position: relative;
    margin-bottom: 12px;
    margin-top: 13px;
}

#feedback {
    right: 10px;
}

#saved {
    height: 50px;
    width: 30px;
    position: fixed;
    right: 25px;
    top: 52%;
    z-index: 1000;
}

.b-find-nav__link.nav-linkk.disabled {
  position: absolute;
  top: -20px;
}

.b-find-nav.nav.nav-tabs {
  padding-top: 40px;
}

.slick-next {
    right: -20px;
}

.slick-prev {
    left: -30px;
}

.ui-title-promo {
    padding-top: 26px;
    color: #36353b;
    font: 700 22px Montserrat;
    text-transform: uppercase;
}

.b-bnr__title {
    padding-top: 10px;
    font: 600 28px/1.2 Montserrat;
    color: #fff;
    text-align: center;
    letter-spacing: -.02em;
    text-transform: uppercase;
    padding-bottom: 15px;
}


/*Listing page*/


.b-goods-f__sold-inner {
    position: absolute;
    z-index: 2;
    bottom: 53px;
    right: 13px;
}

}

/*///////////////////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* iPad Pro (1024px)*/ 

/*///////////////////////////////////////////////////////////////////////////////////////////*/

@media  (width: 1024px) {

 #nav .navbar-nav {
  display: none;
 }

 .top-bar__inner {
  display: none;
 }

/*.menu-mobile-button {
    position: absolute;
    top: -7px;
    left: 969px;
    z-index: 777;
    
}*/

#nav-main a img {
  vertical-align: initial;

}

/*.header.navbar-scrolling  {
padding-top: 22px;
}*/



.header.navbar-scrolling .header-main .navbar-brand {
    top: 0;
    padding-top: 10px;
}


#feedback {
    right: 9px;
}

#saved {
    height: 50px;
    width: 30px;
    position: fixed;
    right: 24px;
    top: 52%;
    z-index: 1000;
}


.slick-next {
    right: -18px;
}

.slick-prev {
    left: -28px;
}

.b-bnr__title {
    padding-top: 10px;
    font: 600 28px/1.2 Montserrat;
    color: #fff;
    text-align: center;
    letter-spacing: -.02em;
    text-transform: uppercase;
    padding-bottom: 15px;
}

} /*end*/



/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* Mobile Devices*/ 

/*///////////////////////////////////////////////////////////////////////////////////////////*/


@media screen and (min-width: 360px) and (max-width: 500px) {


  .b-goods-f__title_myad a {
    color: #131313;
    font-size: 18px;
    font-weight: 500;
    /* margin-bottom: 40px !important; */
}


  .list-sec-r {
    border-left: none;
    display: inline-table;
}  /*ye listing k right side ki styling he*/

.sminputs .input input.mobile {
    width: 59%;
    /* right: 0px; */
    transform: translateX(-5px);
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff 
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;

}

.custom-select {
    width: 41%;
    background: none;
    border: none;
}


.sminputs .input {
    display: block;
    position: relative;
    width: 100%;
    height: 71px;
    padding: 11px 24px;
    /* border-right: 1px solid #e5e5e5; */
    border-bottom: none;
    float: left;
    background-color: #FFF;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

}

}



@media (min-width : 360px) and (max-width: 767px) {


  .nav-tabs .nav-link.active {
    font-size: 13px;
    line-height: 1;
    font-weight: bold;
    background-color: #333;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.b-find-nav__link.nav-linkk.disabled {
  position: absolute;
  top: -20px;
}

.nav-link {
    display: block;
    padding: 17px 9px;
}

.nav-tabs .nav-linkk.disabled {
    font-size: 20px;
    font-family: "Montserrat";
    color: #4b4b50;
    padding: 85px 30px 0 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border-color: transparent;
}

.b-find-nav.nav.nav-tabs {
    padding-top: 110px;
}

.b-find-nav__item {
    width: 32%;
    border-bottom: 1px solid #fff;
    font-size: 12px;
  }
    

.heading-rating {
    
    font: 500 13px/1 Montserrat;
    color: white;
}

.car-top {
    width: 85px;
    position: fixed;
    bottom: -180px;
    right: 0;
    z-index: 9999;
    opacity: 1;
    cursor: pointer;
}

.category-style-obj {

  background-color: transparent;
  width: 100%;
  height: auto;

}

.nav-tabs .nav-item {
    margin-right: 1px;
    align-self: flex-end;
}

.b-find-content {
    margin-top: 0px;
   }

.b-find-nav__item.nav-item {
  font-size: 12px;
}

.b-find__offer {
    padding: 20px 40px 20px 40px;
}

.b-find__form {
    padding: 80px 40px 50px 40px;
}

.d-view-all-btn {

  position: absolute; 
  right: -141px; 
  top: 36px; 
  background-color: #ff5500;
}

.slick-arrow {
  display: none !important;
}

.f-ad-rect {
  display: none;
}

.section-default {
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
}

.section-progress {
   margin-top: 30px;
}

.b-progress-list__item {
    margin: 10px 0;
}

.ui-title {
    color: #222222;
    font: 700 22px Montserrat;
    margin-bottom: 19px;
    text-transform: uppercase;
}


.b-find__btn {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    width: 90%;
    padding: 8px 40px;
    border-radius: 8px;
    border: 1px solid;
}



}


@media (min-width: 360px) and (max-width: 400px) {
  
.ui-title-promo {
    padding-top: 46px;
    color: #36353b;
    font: 700 22px Montserrat;
    text-transform: uppercase;
}

}


@media (max-width: 1300px) {

  .top-bar__inner {
    display: none;

  }
}





/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* iPad Pro (1024px)*/ 

/*///////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1300px) {

 #nav .navbar-nav {
  display: none;
 }

 .top-bar__inner {
  display: none;
 }



.header.navbar-scrolling  {
padding-top: 3px;
}



.header.navbar-scrolling .header-main .navbar-brand {
    /*top: 0;*/
    padding-top: 10px;
}





} /*end*/

@media (min-width: 768px) and (max-width: 1300px) {

  .nav-margin-b {
 
      margin-bottom: 12px;
}
  


}



@media (max-width: 1199px) and (min-width: 992px) {

.yamm li a {
  color: #222222;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 700;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}



}


@media (max-width: 969px) {
.yamm .dropdown.yamm-fullwidth .dropdown-menu {
  width: auto;
}
.yamm .yamm-content {
  padding-left: 0;
  padding-right: 0;
}
.yamm .dropdown-menu > li > ul {
  display: block;
}
}



@media (min-width: 1301px) {
  .menu-mobile-button {
    display: none;
  }
  
}


@media (max-width: 1199px) {
  .advertise-advance {
    display: none;
  }
  
}


@media screen and (min-width: 360px) {

.d-right-padding {
       padding-right: 0;
}

.d-view-all-btn {
  display: none;
}


.sminputs .input {
    display: block;
    position: relative;
    width: 100%;
    height: 71px;
    padding: 11px 24px;
    /* border-right: 1px solid #e5e5e5; */
    border-bottom: none;
    float: left;
    background-color: #FFF;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.sminputs .input input.mobile {
    width: 61%;
}




.reg-dealer {
    border-bottom: 3px solid #ff5500;
    margin-left: 0px;
    transform: translateX(18px);
}

.reg-dealer::before {
    content: "Sign In";
    position: absolute;
    color: #999;
    height: 100%;
    left: -68px !important;
}


.logmod__tabs li a {
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    background: white;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
    color: #4b4b50;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px !important;
    cursor: pointer;
    margin: 0 30px;
}

.sminputs .input {
    
    width: 100% !important;  
    
}

.custom-select {
    width: 13% !important;
    background: none;
    border: none;
}

.sminputs .input input.mobile {
    width: 61% !important;
}


}



/*Dealer Listing Page*/

@media (max-width: 991px) {

  .d-info {
  display: none;
}

  .Ad-email-listing {
    position: initial;
    margin-bottom: 10px;
  }

  .Ad-location {
    padding-left: 0px;
  }

  .Ad-btn-grey {
    justify-content: center;
}
}

@media (min-width: 768px) {

  .list-sec-r {
    border-left: 1px solid #d4d4d4;
    display: inline-block;
}



  
}

@media (min-width: 992px) and (max-width: 1199px ) {
  .Ad-btn-grey-s {
    padding-left: 7px;
}
  
}


@media (max-width: 768px) {

  .b-goods-f_row .b-goods-f__listing {
  
  width:100%;
  height: auto;
  float: left;
  padding-left: 0;
}

}

@media (max-width: 768px) {
  .fsize-car-descr {
    display: none;
  }

  .b-goods-f__listing {
    padding-left: 0;
  }

  .b-goods-f__main {
    display: flex;
    justify-content: center;
  }

  .Ad-posted-date {
    text-align: center;
  }

  .Ad-location {
    display: flex;
    justify-content: center;
  }

  .Ad-email-listing {
    text-align: center;
  }

  .Ad-btn-grey {
    justify-content: center;
}

.b-goods-f__listing {
    padding: 0 20px;
  }
  
.liketoggle {
    margin-top: 0px;
  }

.b-goods-group .b-goods-f__main {
  display: block;
}

.b-goods-f .b-goods-f__main {
  display: block;
}

}


@media (max-width: 768px) {
  /*Ad Post Page*/

.t-bi{ 
  margin-right: 0px !important; 
  width: 100% !important;
}

.t-ai {
   margin-right: 0px !important; 
  width: 100% !important;
}

.t-ui {
   margin-right: 0px !important; 
  width: 100%!important;
}

.t-pr {
  margin-right: 0px !important; 
  width: 100% !important;
}
.t-fc {
  margin-right: 0px !important; 
  width: 100% !important;
}
  
}


@media (min-width: 769px) and (max-width: 992px) {
  /*Ad Post Page*/

.t-bi{ 
  margin-right: 0px !important; 
  width: 100% !important;
}

.t-ai {
   margin-right: 0px !important; 
  width: 100% !important;
}

.t-ui {
   margin-right: 0px !important; 
  width: 100% !important;
}

.t-pr {
  margin-right: 0px !important; 
  width: 100% !important;
}


  
}

@media (min-width: 993px) and (max-width: 1199px) {
  /*Ad Post Page*/

.t-bi{ 
  margin-right: 0px !important; 
  width: 220px !important;
}

.t-ai {
   margin-right: 0px !important; 
  width: 220px  !important;
}

.t-ui {
   margin-right: 0px !important; 
  width: 220px  !important;
}

.t-pr {
  margin-right: 0px !important; 
  width: 220px  !important;
}
  
}


@media (max-width: 576px) {
  .previous-step {
  position: absolute; 
  z-index: 153; 
  right: 250px; 
  padding: 10px 40px; 
  background-color: #ff5500; 
  color: white !important;
 
}

.next-step {
  position: absolute; 
  z-index: 154; 
  right: 0; 
  padding: 10px 40px; 
  background-color: #ff5500; 
  color: white !important;
}

.single-price {
  text-align: center;
  padding: 30px;
  margin: 0 1rem;
  box-shadow: 0px 14px 43px 0px rgba(0, 0, 0, 0.11);
  border-top: 6px solid #666;
  margin-bottom: 1.6rem;
}

.section-title h2 {
  font-size: 22px;
}

}