.form-control.address {
    width: 70%;
    background: none;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-transform: none;
    color: black;
    box-shadow: none;
}

