.signreg {

    border-bottom: 3px solid #ff5500;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font: 14px 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}

.float-signin {
    float: right;
    padding-right: 25px;
    font: 14px 'Montserrat';
    font-weight: 700;
    color: #999;
    text-transform: uppercase;
}