select {
    width: 90%; height: 45px; padding-left: 10px; border-radius: 8px; border: 2px solid grey; font-family: 'Montserrat'; font-weight: 500;
}

.tabContainer{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #ffffff8f;
    padding:15px
}
